.cart-top {
  margin-top: 80px;
}
thead {
  background: #ccc;
}

tr:nth-child(even) {
  background: #ccc;
}

input::-webkit-datetime-edit {
  color: transparent;
}

/* Include this to make it visible when input is clicked */
input:focus::-webkit-datetime-edit {
  color: #000;
}
