.cart-top {
  margin-top: 80px;
}
thead {
  background: #ccc;
}

tr:nth-child(even) {
  background: #ccc;
}
.est-sub {
  font-weight: 900;
}

.md-form .prefix ~ label {
  transform: translateY(-120%);
}

.remove-pointer {
  cursor: pointer;
}
#browse-btn {
  font-size: 16px;
}

#browse-btn:hover {
  color: rgb(0, 29, 126);
}
