.cart-top {
  margin-top: 80px;
}
thead {
  background: #ccc;
}

tr:nth-child(even) {
  background: #ccc;
}
.est-sub {
  font-weight: 900;
}

.md-form .prefix ~ label {
  transform: translateY(-120%);
}

.remove-pointer {
  cursor: pointer;
}
#browse-btn {
  font-size: 16px;
}

#browse-btn:hover {
  color: rgb(0, 29, 126);
}

/*removes auto-placeholder for time/date */
/* input::-webkit-datetime-edit {
  color: transparent;
} */

/* Include this to make it visible when input is clicked */
/* input:focus::-webkit-datetime-edit {
  color: #000;
} */

/* changes the way the autofocus moves */
/* .md-form label.active {
  -webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
} */
