* {
  box-sizing: border-box;
  font-family: 'Spectral SC', serif;
}

body {
  background-color: #f5f5f5;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.no-margin {
  margin: 0 !important;
}

.main-height {
  min-height: calc(100vh - 62px);
  margin-top: 62px;
}
