.sub-category li {
  padding-left: 35px;
  padding-bottom: 8px;
}

.sidebar {
  margin-top: -56px;
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #323a4b;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: -webkit-transform 0.3s ease-out 0s;
  overflow-x: hidden;
  z-index: 4;
}

.inner-scroll {
  padding-right: 20px;
  overflow-y: scroll;
  width: 297px;
  height: 100%;
}

.sidenav-btn-hover {
  color: black;
}

.sidenav-btn-hover:hover {
  color: rgb(109, 109, 109);
}

.fig-size {
  font-size: 1.2rem;
}

.dropdown-toggle::after {
  right: 20px;
}

.weight {
  font-weight: 700;
  margin-left: 0;
  padding-left: 1rem;
  border-left: solid 4px #495c7a;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.card-image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px !important;
}

.card {
  margin: 25px;
}

.ml-270 {
  margin-left: 0;
}

.cat-names {
  font-size: 12px;
}

.inventory-card {
  height: 165px;
}

.inv-wrapper {
  margin-left: 50px;
  margin-top: 120px;
}

.product-img {
  width: 100% !important;
  max-width: 300px !important;
}
#item-quantity {
  max-width: 5rem;
}
.figure-caption {
  font-weight: bolder;
}

.main-show {
  width: 500x;
  height: 400px;
  margin-bottom: 25px;
}
.extra-pointer {
  cursor: pointer;
}

.inv-img {
  margin-right: 10%;
  margin-left: 5%;
}

.open-sidebar {
  position: fixed;
  z-index: 3;
}

@media (max-width: 768px) {
  .w-300 {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .sidebar {
    display: block;
    margin-top: 0px;
  }
  .ml-270 {
    margin-left: 270px;
  }
  .open-sidebar {
    display: none;
  }
}

@media (min-width: 992px) {
  .inv-wrapper {
    margin-top: 0px;
    margin-left: 0px;
  }
}
