.Checkout {
  background-color: #f6f9fc;
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 4px;
}

fieldset {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #fff;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.input-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 15px;
}

.input-label {
  width: 15%;
  min-width: 70px;
  padding: 11px 0;
  color: #757575;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.payment-input {
  width: 100%;
  padding: 11px 15px 11px 0;
  color: #424242;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
  border-style: none;
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.payment-input::placeholder {
  color: #e0e0e0;
}

.input-border {
  border-bottom: 1px solid #cfd7df;
}

.payment-btn {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #24b47e;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}
