.top-nav {
  background-color: #b71c1c;
  height: 62px;
}

.navbar {
  font-size: 12px;
  background-color: #b71c1c;
}

@media (min-width: 992px) {
  .navbar {
    font-size: 14px;
  }
}

@media (min-width: 1050px) {
  .navbar {
    font-size: 16px;
  }
}
