.navbar {
	min-height: 62px;
	width: 100%;
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	background-color: #20232a;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 13px;
}

.activeTab {
	border-bottom: solid 2px white;
	padding-bottom: 5px;
	background-color: rgb(55, 57, 64);
}

.nav-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 12px;
}

@media (min-width: 768px) {
	.nav-flex {
		flex-direction: row;
	}

	.navbar {
		font-size: 16px;
	}
}
