.navbar {
  font-size: 12px;
  min-height: 62px;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
}

.activeTab {
  border-bottom: solid 2px white;
  padding-bottom: 5px;
}

@media (min-width: 992px) {
  .navbar {
    font-size: 14px;
  }
}

@media (min-width: 1050px) {
  .navbar {
    font-size: 16px;
  }
}
