.navbar {
  font-size: 12px;
  min-height: 62px;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #20232a;
}

.activeTab {
  border-bottom: solid 2px white;
  padding-bottom: 5px;
  background-color: rgb(55, 57, 64);
}

.nav-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .nav-flex {
    flex-direction: row;
  }
}

@media (min-width: 650px) {
  .navbar {
    font-size: 13px;
  }
}

@media (min-width: 850px) {
  .navbar {
    font-size: 15px;
  }
}
